.App > section {
  width: 100%;
}

.carousel {
  padding: 5em 0 5em;  
}

.carousel > img.bgImg {
  width: 100%;
  height: fit-content;
  filter: blur(2.5em);
  position: absolute;
  z-index: -1;
}

.white {
  background-color: white;
  padding: 5em 0 5em;
}

.gradient {
  padding: 5em 0 5em;
  background: linear-gradient(black, white);
  color: white;
}

footer {
  width: 100%;
  height: 2em;
  text-align: center;
}

footer > a {
  margin-left: .4em;
  text-decoration: none;
  color: rgb(0, 174, 255);
}

footer > a:hover {
  text-decoration: underline;
  cursor: pointer;
}
