.CarouselView {
  display: grid;
  /* 
    TODO: 
    Align the image to the far left, place the content to its right in like 2fr size.
    Figure out img blurring solution, I think this one is fine just fix the colors a bit.
    
  */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-template-areas: '. .';
}

div.imgGradient {
  height: 20em;
  justify-self: right;
  position: relative;
  display: inline-block;
  box-shadow: 1px solid black;
}

  div.imgGradient::after {
    position: absolute;
    content: '';
    top: 0; bottom: 0;
    right: 0; left: 0;
    background-image: linear-gradient(transparent 70%, rgba(35, 148, 214, 1));
  }

img.cover {
  height: 100%;
}
