div.CarouselView {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: '. .';
}

div.imgGradient {
  grid-column: 2 / 4;
  height: 20em;
  justify-self: right;
  position: relative;
  display: inline-block;
}

div.imgGradient::after {
  position: absolute;
  content: '';
  top: 0; bottom: 0;
  right: 0; left: 0;
  background-image: linear-gradient(transparent 70%, rgba(35, 148, 214, 1));
}

img.cover {
  height: 100%;
}

div.content {
  margin-left: 2em;
  grid-column: 4 / 7;
}

h1.movieTitle {
  letter-spacing: 1px;
  font-weight: 600;
}

p.blurb {
  font-size: .9em;
  color: rgba(255, 255, 255, 0.65);
}

div.btns {
  text-transform: uppercase;
}

button.buy {
  display: inline-block;
  background-color: #18aaff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0 1em;
  margin-right: 1em;
  font-size: 1.1em;
  border: 1px solid transparent;
  transform: translateY(.15em);
  transition-duration: 0.4s;
}

button.buy:hover {
  cursor: pointer;
  border: 1px solid white;
}

button.buy > svg {
  height: 1.7em;
  margin-right: .8em;
  transform: translateY(.45em);
  display: inline-block;
}

button.buy > p {
  transform: translateY(-.1em);
  display: inline-block;
  padding: .5em 0;
  margin: 0;
  font-weight: 600;
}

button.watch {
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1.1em;
  padding: .6em 1em;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
}

button.watch:hover {
  background-color: #18aaff;
  color: white;
  cursor: pointer;
}

button.watch > p {
  margin: 0;
  font-weight: 600;
}

/* Start react-slick tweaks + responsiveness */

button.slick-prev {
  left: 100px;
}

button.slick-next {
  right: 100px;
}

button.slick-arrow {
  width: 2vw;
  height: 2vw;
  z-index: 1;
}

button.slick-arrow::before {
  font-size: 2vw;
}
.slick-dots li button::before {
  color: white;
  opacity: .25;
}
.slick-dots li.slick-active button::before {
  color: white;
}

/* NOTE:
  In the future, I would design this carousel mobile-first
  to avoid some of these problems.
*/
@media screen and (max-width: 1250px) {
  div.btns {
    font-size: 11px;
  }
}

@media screen and (max-width: 1000px) {
  section.carousel {
    padding-top: 3em;
  }

  div.CarouselView {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    grid-template-areas: '.' '.';
    font-size: 14px;
  }

  div.imgGradient {
    grid-column: 2 / 4;
    justify-self: center;
    width: 100%;
    height: 100%;
  }

  div.imgGradient > img {
    width: 100%;
    height: 100%;
  }

  div.content {
    grid-column: 2 / 4;
    margin-left: 0;
  }

  div.content {
    text-align: center;
    grid-column: 1 / 5;
    justify-self: center;
  }

  div.btns {
    text-align: center;
  }

  button.slick-arrow::before {
    content: none;
  }
}

@media screen and (max-width: 860px) {
  div.CarouselContainer {
    margin: 0 5em;
  }

  div.CarouselView {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  section.carousel {
    padding-top: 2em;
  }

  div.CarouselContainer {
    margin: 0 2em;
  }

  div.CarouselView {
    grid-template-columns: 1fr;
    grid-template-areas: '.';
  }

  div.imgGradient {
    grid-column: 1 / 5;
    width: 70vw;
  }

  div.btns {
    font-size: .8em;
  }
}