div.ImgPresentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 6em;
  grid-template-areas: '. .';
  align-items: center;
  margin: 0 10em 0 10em;
}

.ImgPresentation > .textContent,
.ImgPresentation > .img {
  width: 100%;
}

.ImgPresentation.right > .textContent {
  justify-self: right;
}

.ImgPresentation.right > .img {
  justify-self: left;
}

.ImgPresentation.left > .img {
  justify-self: right;
}

/* At 1000px change the format to have the images on top */
@media screen and (max-width: 1000px) {
  div.ImgPresentation {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: '.' '.';
  }
  
  div.ImgPresentation.left > .img,
  div.ImgPresentation.right > .img {
    justify-self: center;
  }

  .ImgPresentation > img.img {
    width: 80%;
    margin: 0;
  }
  
  div.ImgPresentation.right > .textContent,
  div.ImgPresentation.left > .textContent {
    justify-self: center;
    margin-top: 2em;
    width: 80%;
  }

  h1.title {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  div.ImgPresentation {
    margin: 5vw;
  }
}

@media screen and (max-width: 500px) {
  div.ImgPresentation > .img {
    width: 90vw;
  }

  div.ImgPresentation.right > .textContent,
  div.ImgPresentation.left > .textContent {
    justify-self: left;
    width: 100%;
  }
}
